@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
/*Zgornja vrstica*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); 
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
/*Zacetna stran*/
#hero{
    background-image: url(img/unisex-heavy-blend-hoodie-white-back-63e2d20e89928.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
    background-image: url("img/My\ project\ \(4\).png");
    background-color: transparent;
    background-position: top 25% right 0;
    color: black;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
#product1 .pro{
    width: 45%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: o.2s ease;
}
#product1 .pro :hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 15px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(216, 211, 211);
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: black;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #c59100;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #606063;
    color: white;
    white-space: nowrap;
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#page{
    background-image: url("img/haaa.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#product1 .beta{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: o.2s ease;
}
#product1 .beta :hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}

#product1 .beta img{
    width: 100%;
    border-radius: 20px;
}
#product1 .beta .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .beta .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .beta .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 15px;
}
#product1 .beta .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#prodetails{
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.mainimg{
    border: 2px solid black;
    border-radius: 25px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    border: 2px solid black;
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details button{
    background-color: #606063;
    color: white;
    white-space: nowrap;
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 40%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


